/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&none  &kp Q  &kp W  &kp F  &kp P  &kp B          &kp J            &kp L          &kp U      &kp Y    &kp SEMICOLON  &none
&none  &kp A  &kp S  &kp D  &kp F  &kp G          &kp M            &kp N          &kp E      &kp I    &kp O          &none
&none  &kp X  &kp C  &kp D  &kp V  &kp Z          &kp K            &kp H          &kp COMMA  &kp DOT  &kp FSLH       &none
                     &none  &mo 4  &lt 1 SPACE    &kp RIGHT_SHIFT  &kp RIGHT_ALT  &none
            >;
        };

        sym {
            bindings = <
&trans  &kp N6     &kp N7        &kp N8     &kp N9    &kp N0       &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH   &kp PIPE   &trans
&trans  &kp N1     &kp N2        &kp N3     &kp N4    &kp N5       &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UNDERSCORE  &trans     &trans
&trans  &kp SLASH  &kp ASTERISK  &kp MINUS  &kp PLUS  &kp EQUAL    &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp GRAVE       &kp TILDE  &trans
                                 &trans     &trans    &trans       &trans  &trans                &trans
            >;
        };

        game {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &to 0
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        game+ {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        nav {
            bindings = <
&trans  &kp ESC           &trans          &kp UP            &trans     &trans           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp ENTER         &kp LEFT_ARROW  &kp DOWN          &kp RIGHT  &kp PAGE_UP      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT_CONTROL  &kp LEFT_ALT    &kp C_PLAY_PAUSE  &kp TAB    &kp PAGE_DOWN    &trans  &trans  &trans  &trans  &trans  &to 2
                                          &trans            &trans     &trans           &trans  &trans  &trans
            >;
        };

        fun {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
